*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    height: 3rem;    

    padding-left: 6rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

i{
    color: #065572;
    text-decoration: none;
    transition: 2s;

}

i:hover{
    color: #de1616;
}

body{
    width: 100vw;
    height: 100vh;
}

#main-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#switcher{
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    width: 10rem;
    height: 5rem;
    border-radius: 25px;
    border: none;
    background-color: #F5DF4D;
    color: #fff;
    box-shadow: 3px 3px 3px rgba(0,0,0, 0.6);
    transition: 0.1s;
}

#switcher:hover{
    background-color: #FABC41;
}

#switcher:active{
    box-shadow: none;
    background-color: #C29744;
    transition: 0.5s;
}