*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    height: 3rem;    

    padding-left: 6rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

i{
    color: #065572;
    text-decoration: none;
    transition: 2s;

}

i:hover{
    color: #de1616;
}